<table border="0" cellpadding="0" cellspacing="0" role="presentation"
       style="background-color: #ffffff; width: 100%; border-collapse: collapse; border-spacing: 0; font-family: Arial, sans-serif;"
       width="100%">
    <tbody>
    <tr>
        <td>
            <table align="center" border="0" cellpadding="0" cellspacing="0"
                   role="presentation"
                   style="margin:auto; border-collapse:collapse; border-spacing:0; max-width: 800px; min-width: 320px;">
                <tbody>
                <tr>
                    <td align="center" width="100%">
                        <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                               style="background-color: #ffffff;"
                               width="100%">
                            <tbody>
                            <tr>
                                <td align="center" style="padding: 10px 0;" width="100%">
                                    <img alt="ESN Logo" height="62"
                                         src="{{ logo_location }}" style="display: block; border: 0;" width="111">
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                            <tbody>
                            <tr>
                                <td style="padding: 9px 20px;" width="100%">
                                    <h1 style="font-family: Arial, sans-serif; font-weight: 700; text-align: center; margin: 0; line-height: 1.2; color: #2e3192; font-size: 34pt;">
                                        ESNcard Creation
                                    </h1>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                            <tbody>
                            <tr>
                                <td style="padding: 9px 20px;" width="100%">
                                    <p style="font-family: Arial, sans-serif; font-weight: 400; text-align: center; font-size: 12pt; color: #1c1c1c; margin: 0; line-height: 1.38;">
                                        Hello {{ name }},
                                    </p>
                                    <p style="font-family: Arial, sans-serif; font-weight: 400; text-align: center; font-size: 12pt; color: #1c1c1c; margin: 15px 0 0 0; line-height: 1.38;">
                                        Your application for an ESNcard has been processed and your card has been
                                        issued.
                                    </p>
                                    <p style="font-family: Arial, sans-serif; font-weight: 400; text-align: center; font-size: 12pt; color: #1c1c1c; margin: 15px 0 0 0; line-height: 1.38;">
                                        Your ESNcard number is:
                                    </p>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                            <tbody>
                            <tr>
                                <td align="center" style="padding: 15px 0;" width="100%">
                                    <h3 style="font-family: Arial, sans-serif; font-weight: 700; text-align: center; margin: 0; line-height: 1.2; color: #2e3192; font-size: 18pt;">
                                        {{ esncard_number }}
                                    </h3>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                            <tbody>
                            <tr>
                                <td style="padding: 9px 20px;" width="100%">
                                    <p style="font-family: Arial, sans-serif; font-weight: 400; text-align: center; font-size: 12pt; color: #1c1c1c; margin: 0; line-height: 1.38;">
                                        You can pick up your physical card during one of our events.
                                    </p>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        {% if google_wallet_link is not empty %}
                            <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                <tbody>
                                <tr>
                                    <td style="padding: 9px 20px;" width="100%" align="center">
                                        <a href="{{ google_wallet_link }}">
                                            <img alt="Add to Google Wallet"
                                                 src="https://esncy.org/sites/default/files/2025-12/add_to_google_wallet_badge.png"
                                                 height="45">
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        {% endif %}

                        <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                            <tbody>
                            <tr>
                                <td align="center" style="padding: 20px 0 10px 0;" width="100%">
                                    <h2 style="font-family: Arial, sans-serif; font-weight: 700; text-align: center; margin: 0; line-height: 1.2; color: #2e3192; font-size: 18pt;">
                                        Activation
                                    </h2>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                            <tbody>
                            <tr>
                                <td style="padding: 9px 20px;" width="100%">
                                    <p style="font-family: Arial, sans-serif; font-weight: 400; text-align: center; font-size: 12pt; color: #1c1c1c; margin: 15px 0 0 0; line-height: 1.38;">
                                        Please make sure to activate your card so that you can start using your benefits
                                        right away.
                                    </p>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                            <tbody>
                            <tr>
                                <td style="padding: 9px 20px;" width="100%">
                                    <ol style="font-family: Arial, sans-serif; font-weight: 400; font-size: 12pt; color: #1c1c1c; margin: 0; padding-left: 40px;">
                                        <li style="margin-bottom: 6px;">Click the button below to access the ESNcard
                                            website.
                                        </li>
                                        <li style="margin-bottom: 6px;">Create an account.</li>
                                        <li style="margin-bottom: 6px;">Activate your account by clicking the link sent
                                            to your email.
                                        </li>
                                        <li style="margin-bottom: 6px;">Register your card.</li>
                                        <li style="margin-bottom: 6px;">Wait until your ESNcard and other details are
                                            validated. This might take a few days.
                                        </li>
                                    </ol>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                            <tbody>
                            <tr>
                                <td align="center" style="padding: 20px 0;" width="100%">
                                    <table border="0" cellpadding="0" cellspacing="0" role="button">
                                        <tbody>
                                        <tr>
                                            <td align="center"
                                                style="background-color: #2e3192; border-radius: 4px; padding: 12px 24px;">
                                                <a href="https://esncard.org"
                                                   style="font-family: Arial, sans-serif; font-size: 14pt; color: #f9f9f9; text-decoration: none; font-weight: 400; display: inline-block;"
                                                   target="_blank">
                                                    Activate Now
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                            <tbody>
                            <tr>
                                <td style="padding: 20px 20px;" width="100%">
                                    <div style="border-top: 1px solid #d9d9d9;"></div>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        {{ custom_footer|raw }}
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>